@import url(https://fonts.google.com/specimen/Kumbh+Sans);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;

    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
}

section {
    margin: auto;
    width: 1000px;
    height: 500px;
    background-color: hsl(240, 5%, 91%);
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 602px, 100px;
    background-position-x: -196px;
    background-position-y: -34px;

    border-radius: 5%;
    display: flex;
    flex-direction: row;

}

/* IMAGEM */

.images_main {
    width: 50%;
    display: flex;
}

.faq_main {
    width: 50%;
    font-family: 'Kumbh Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.images_main--box {
    position: absolute;
    margin-top: 200px;
    margin-left: -83px;
}

.images_main--woman {
    margin: auto;
    margin-left: -73px;
}

/* FAQ */

.faq_main h1 {
    color: hsl(238, 29%, 16%);
    margin-top: 50px;
    font-size: 36px;
}

.faq_main div:first-of-type {
    margin-top: 40px;
}

.faq_question {
    color: hsl(237, 12%, 33%);
    font-size: 16px;
    font-weight: 400;
    width: 400px;
    
    padding: 15px 0;
    border-bottom: solid hsl(240, 6%, 50%) 1px;

    display: flex;
    justify-content: space-between;
}

/* ANSWERS */
.faq_answer { /*To show and Hide answer*/
    display: none;

    width: 375px;
    color: hsl(240, 6%, 50%);
    font-size: 14px;

    margin-top: 14px;
    line-height: 1.5;
   
}

.faq_question button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline-style: none; /*Hide outline when button is clicked*/
    background: none;
}